<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vn.vunganyen.petshop">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".screens.admin.statistics.StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.orderShip.shipperDetailOrder.ShipperOrderMngActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.orderShip.homeShipper.MainShipperActivity"
            android:exported="false" />
        <activity
            android:name=".screens.client.orderClient.OrderClientActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.order.detailOrder.DetailOrderMngActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.admin.orderShip.shipperListOrder.ShipperOrderActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.order.listOrder.OrderMngActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.profile.information.InforActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.profile.account.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.inputData.staff.customStaff.CustomStaffMngActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.inputData.mngProduct.customProduct.CustomPMngActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.inputData.mngProductType.custom.CustomPTMngActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.admin.inputData.mngBrand.insertBrand.InsertBrandActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.admin.inputData.mngBrand.updateBrand.BrandDetailMngActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.admin.inputData.mngProductType.listPT.ProTypeMngActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.admin.inputData.mngProduct.listProduct.ProductMngActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.inputData.staff.getList.StaffManageActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.admin.inputData.mngBrand.listBrand.BrandMngActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.inputData.InputDataActivity"
            android:exported="false" />
        <activity
            android:name=".screens.splashScreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vn.vunganyen.petshop.screens.admin.main.MainAdminActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.client.myOrderDetail.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.client.brand.BrandDetailActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.client.search.SearchProActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.client.home.seeAllProduct.SeeAllActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.client.myOrder.MyOrderActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.client.checkout.CheckOutActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.client.paypal.PaypayActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="vn.vunganyen.petshop://paypalpay" />
            </intent-filter>
        </activity>
        <activity
            android:name="vn.vunganyen.petshop.screens.client.changePassword.ChangePassActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.client.loginRequired.LoginRequired"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.client.register.newProfile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.client.register.newRegister.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.client.productDetail.ProDetailActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.client.product.ProductActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.client.home.main.HomeActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.petshop.screens.client.login.LoginActivity"
            android:exported="false" />
    </application>

</manifest>